# OS
.DS_Store

# Foundry
out/
cache/
broadcast/

# Hardhat
artifacts/
typechain-types/

# Node
node_modules/
.pnpm-store/

# Env
.env
.env.local

# IDE
.idea/
.vscode/

# Logs
*.log

# Coverage
coverage/
lcov.info
